*{
    padding: 0;
    margin: 0;
}


/**引用外部字体*/
@font-face {
    font-family: 'BebasNeue-webfont';
    src:url('../fonts/BebasNeue-webfont.ttf');
    /*font-family: ;*/

}

a{

    text-decoration: none;
    color: white;
}




body{
    background:url("../img/pattern.gif");
    font-family: BebasNeue-webfont;
}

#top{
    position: fixed;
    top:0;
    background:url("../img/pattern.gif");
    width:100%;
}

#header{
    background-color: red;
    height: 3px;
}


#nav{
    text-align: center;
}


#nav ul{
    display: inline-block;
}


#nav ul li{
    display: inline-block;
}

#nav ul li a{

    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
    margin: 0 8px;
}


#nav ul li a.selected , #nav ul li a:hover{

    background-color: white;
    color: black;


}


#list{

    margin-top: 100px;
    text-align: center;
    background-color: white;
}


#list .love{

    display: inline-block;
    width: 382px;

    text-align: left;

    margin: 20px;
}

#list .love p{
    font-family:sans-serif;
    margin: 0 7px;
    text-indent: 20px;
    line-height: 20px;
}

#list .love a{
    background-color: orange;
    display: inline-block;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    line-height: 45px;
}

#list .love a:hover{
    background-color: black;
}



#footer{

    text-align: center;
}


#footer h2{

    margin-top: 10px;
    color: white;

}


#footer ul{

}

#footer ul li{
    display: inline-block;
    margin: 5px 10px;
}



/*自适应布局*/
@media screen and (max-width:1104px){

    #nav ul li a{
        width: 150px;

    }

}

@media screen and (max-width:853px){

    #nav ul li a{
        width: 100px;
        font-size: 25px;
    }

}


@media screen and (max-width:595px){

    #nav ul li a{
        width: 60px;
        font-size: 20px;
    }

}
